* {
	color: #f04c24;
	margin: 0;
}

h1 {
	font-family: "Dubai";
	src: url("./fonts/DUBAI-MEDIUM.TTF") format("truetype");
	font-size: 80px;
}

h2 {
	font-family: "Dubai";
	src: url("./fonts/DUBAI-MEDIUM.TTF") format("truetype");
	font-size: 40px;
	color: black;
}

h3 {
	font-family: "Dubai";
	src: url("./fonts/DUBAI-REGULAR.TTF") format("truetype");
	font-size: 40px;
	color: white;
}

p {
	font-family: "Dubai";
	src: url("./fonts/DUBAI-LIGHT.TTF") format("truetype");
	color: black;
	font-size: 20px;
}

a {
	font-family: "Dubai";
	src: url("./fonts/DUBAI-REGULAR.TTF") format("truetype");
	font-size: 40px;
	color: white;
}

header {
	margin-bottom: -25px;
	position: relative;
}

header img {
	width: 100%;
	position: relative;
	text-align: center;
}

#logo {
	text-align: center;
	line-height: 70px;
	margin-top: 30px;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#logo a {
	text-decoration: none;
}

.addCommentBtn {
	font-size: 22px;
	color: white;
	background-color: #f04c24;
	padding: 0.5%;
	border-radius: 4px;
	position: fixed;
	top: 0;
	right: 0;
	margin: 1.2% 2%;
	z-index: 5;
}

footer {
	position: relative;
	padding: 5%;
	background-color: #f04c24;
	display: flex;
	justify-content: space-around;
	text-align: center;
	z-index: 2;
}

footer h2,
h3,
p {
	color: white;
}

footer h2 {
	line-height: 40px;
}

footer a {
	text-decoration: none;
}

footer div {
	width: 20%;
}

#socials img {
	padding: 1%;
	padding-left: 2%;
}
